body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.icon {
    font-size: 100px;
    color: black;
    margin-bottom: 10px;
}

.header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtext {
    font-weight: 500;
    margin: 5px 0;
}

.address {
    font-weight: 500;
    margin: 5px 0;
    white-space: pre-line;
}

.button {
    display: block;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px auto 0;
    text-align: center;
}

    .button:hover {
        background-color: #1976D2;
    }

.back-button {
    font-size: 16px;
    background-color: transparent;
    color: #2196F3;
    border: none;
    cursor: pointer;
}
