body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    height: 100vh; /* Add this to set body height to 100vh */
}

.container {
    padding: 20px;
    background-color: #fff;
    margin: 0; /* Remove margins to allow full width */
    border-radius: 8px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.4);
    width: 100vw; /* Set width to 100% of the viewport */
    height: 100vh; /* Set height to 100% of the viewport */
    display: flex; /* Flexbox to structure internal content */
    flex-direction: column; /* Arrange child elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-sizing: border-box; /* Ensure padding and borders don't affect width/height */
}


.header {
    background-color: #0F2E34;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

    .header h1 {
        font-size: 26px;
        margin: 0;
        text-transform: uppercase;
    }

form {
    width: 90%;
    height: 90%;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

#recipientsDisplay {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 35px;
    height: fit-content;
    align-items: center;
}

.selected-groups {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: fit-content;
    padding: 3px 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background-color: #ddd;
    margin: 0px 5px;
    height: 20px;
}

.removeGroupBtn {
    margin-left: 5px;
    font-size: 13px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.checkbox-group {
    margin-bottom: 20px;
}

    .checkbox-group label {
        display: block;
        margin-bottom: 5px;
    }

    .checkbox-group input[type="checkbox"] {
        margin-right: 10px;
    }

.date-picker {
    margin-bottom: 20px;
}

.time-picker {
    margin-bottom: 20px;
}



.button {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 12px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 32px;
    border: 2px solid rgba(255, 255, 255, 0.8); /* Optional: Add a border */
    background-color: #0F2E34;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    width: 10%;
    height: 40px;
}



.custom-checkbox {
    border: 2px solid black;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}
