@{
    Layout = null;
}

<link rel="stylesheet" href="~/FontAwesome/css/all.css" />

<h1 style="display:flex;"><i style="margin-right:10px;" class="fa-solid fa-triangle-exclamation"></i>Oops! Something went wrong!</h1>
<h3 class="text-danger">@ViewBag.ErrorMessage</h3>
<h5>Please go back to the previous page and try again.</h5>
