@model GradeClassesViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/SchoolCSS/ManageSchoolGrades.css" />


<div class="container">
    <h1>Manage School Grades</h1>

    <form id="add-grade-form" method="post" asp-action="ManageSchoolGrades">
        <div class="form-group">
            <input asp-for="ClassesToAdd" id="grade-input" placeholder="Enter grades (e.g., 10B, 11B, 12D)">
            <input asp-for="SchoolId" type="hidden" />
            <button type="submit">Add Grade</button>
        </div>
    </form>

    <div class="grades-list">
        <h2>Existing Grades</h2>
        <div id="grade-list">
            @foreach (var item in Model.Classes)
            {
                <option value="@item.ClassDesignate">@item.ClassDesignate</option>
            }
        </div>
    </div>
</div>

