 <link rel="stylesheet" href="~/css/ParentCSS/ParentLandingPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@{
    Layout = null;
}



<div class="container">
    <div class="icon"><i class="fas fa-user"></i></div>
    <h2>Mrs April Poti</h2>
    <div class="form-group-1">
        <a asp-controller="Parent" asp-action="ParentViewProfile" class="button">View Profile</a>
    </div>
    <br />
    <br />
    <div class="title">List of Schools:</div>
    <br />
    <div class="form-group">
        <a asp-controller="Parent" asp-action="ParentSchoolProfile" class="button">HARMONIA COMBINED</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-controller="Parent" asp-action="ParentSchoolProfile" class="button">BOKAMOSO PRIMARY</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-controller="Parent" asp-action="ParentSchoolProfile" class="button">LICERIA HIGH</a>
    </div>
    <br />
    <br />
    <br />
    <a asp-controller="Login" asp-action="Login" class="logout-button">LOGOUT</a>

</div>



