@{
    ViewData["Title"] = "Contact List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ParentCSS/ParentChatList.css" />
</head>
<body>

    <div class="container">
        <div class="title">Communicate with a Teacher</div>

        <div class="card">
            <a asp-controller="Chat" asp-action="Chat" class="name">Mr John Hadden</a>
            <h8>Geography</h8>
        </div>

        <div class="card">
            <a href="/Communication/chat-screen.html">
                <div class="name">Ms Selina Bochedi</div>
                <div class="subject">Life Sciences</div>
            </a>
        </div>

        <div class="card">
            <a href="/Communication/chat-screen.html">
                <div class="name">Mrs Puleng Mokoena</div>
                <div class="subject">Mathematics</div>
            </a>
        </div>

        <div class="card">
            <a href="/Communication/chat-screen.html">
                <div class="name">Ms Jose Frika</div>
                <div class="subject">Physical Sciences</div>
            </a>
        </div>

        <div class="card">
            <a href="/Communication/chat-screen.html">
                <div class="name">Mr Frank Gene</div>
                <div class="subject">English First Additional Language</div>
            </a>
        </div>

        <div class="card">
            <a href="/Communication/chat-screen.html">
                <div class="name">Mr Futo Ren</div>
                <div class="subject">isiXhosa</div>
            </a>
        </div>

        <a href="/parents/childProfile.html" class="back-button" onclick="history.back()">BACK</a>
    </div>

</body>
</html>
