@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/ParentCSS/ParentViewAttendance.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<header>
    <h1>Attendance Record</h1>
</header>

<div class="container">
    <section class="learner-info">
        <strong>Name:</strong> Thembile Poti <br>
        <strong>Grade:</strong> 10B <br>
        <strong>Class Teacher:</strong> Kgopolo Mooi <br>
        <strong>Term:</strong> 1
    </section>
    <table class="attendance-table">
        <thead>
            <tr>
                <th>Days</th>
                <th>Week 1</th>
                <th>Week 2</th>
                <th>Week 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monday</td>
                <td class="checkmark">✔</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td class="checkmark">✔</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td class="crossmark">✘</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td class="checkmark">✔</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td class="crossmark">✘</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

