<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmonia Combined</title>
    <link rel="stylesheet" href="~/css/ParentCSS/ParentSchoolProfile.css"> <!-- Reference to external CSS file -->
</head>
<body>

    <header>
        <!-- <button class="back-button" onclick="goBack()">&larr; Back</button> -->
        <h1>Harmonia Combined</h1>
    </header>

    <div class="content">
        <img src="/images/harmonia.jpg" alt="Harmonia Combined">
        <h1>HARMONIA COMBINED</h1>
        <a asp-controller="Parent" asp-action="ParentViewChildProfile" class="button">Thembile Poti</a>
        <a asp-controller="Parent" asp-action="ParentViewChildProfile" class="button">Omphile Poti</a>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>



