@model IEnumerable<ActorAnnouncementViewModel<Parent>>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/TeacherCSS/TeacherViewAnnouncements.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css">
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">


<div id="header">
    <h1><i class="fas fa-bullhorn"></i> Announcements</h1>
</div>
<body>
    <div class="container">
        <div class="search">
            <div class="total">Total:@Model.Count()</div>
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>

        @foreach (var value in Model)
        {
            <div class="announcement">
                @if (value.Announcement.ViewedRecipients.Contains(value.Actor.IdNo))
                {
                    <i class="fa-regular fa-circle-check icon"></i>
                }
                else
                {
                    <i class="fa-regular fa-circle icon"></i>
                }
                <div class="details">
                    <h4 class="title">@value.Announcement.Title</h4>
                    <div class="content">@value.Announcement.Content</div>
                </div>
                <a asp-action="ParentDetailedAnnouncement" asp-route-id="@value.Announcement.AnnouncementId" asp-route-parentIdNo="@value.Actor.IdNo" style="display:none;"></a>
                <i class="fa-regular fa-trash-can opaque"></i>
            </div>
        }
    </div>
</body>

<script src="~/js/Teacher/TeacherViewAnnouncement.js"></script>

