/* General body styling */
body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

/* Hero section at the top */
.header-section {
    background-color: #0F2E34;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.header-section h1 {
    font-size: 32px;
    margin: 0;
}


/* Container for the content */
.container {
    padding: 20px;
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Grade section styling */
.grade-section {
    margin-bottom: 30px;
}

.grade-section h2 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

.grade-buttons {
    display: flex;
    gap: 10px;
}

/* Button styling */
.button {
    flex: 1;
    padding: 15px;
    margin: 5px 0;
    background-color: #0F2E34;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0F2E34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.opaque {
    opacity: .8;
}

/* Responsive design */
@media (max-width: 600px) {
    .button {
        font-size: 16px;
        padding: 12px;
    }

    .header-section h1 {
        font-size: 28px;
    }

    .header-section p {
        font-size: 16px;
    }
}
