body {
    font-family: Arial, sans-serif;
    padding: 8px;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.icon {
    font-size: 90px;
    margin-bottom: 10px;
}

.principal-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-container {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
}

    .info-container p {
        margin: 0;
        line-height: 1.5;
    }

.button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

    .button:hover {
        background-color: #333;
    }
