@{
    ViewData["Title"] = "Child Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/TeacherCSS/TeacherViewLearnerProfile.css" />
</head>
<body>

    <div class="container">
        <div class="icon">👤</div>
        <div class="header">Thembile Poti</div>
        <div class="subtext">GRADE 10B</div>
        <div class="subtext">CLASS TEACHER: Kgopolo Mooi</div>
        <div class="subtext">Identity Number: 04060879589</div>
        <div class="subtext">PARENT: APRIL POTI</div>
        <div class="subtext">PHONE: +27 63 444 5555</div>
        <div class="subtext">EMAIL: apple12@gmail.com</div>
        <div class="address">
            ADDRESS: 02 Potilolo str
            Rusty
            2424
            North West
        </div>
        <button class="button" onclick="window.history.back()">BACK</button>
    </div>

</body>
</html>