@model IEnumerable<Grade>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/TeacherCSS/TeacherViewGrades.css" />


<header>
    <div class="header-section">
        <h1><i class="fas fa-school"></i> Teacher's Grade Overview</h1>
    </div>
</header>

<div class="container">
    
    @foreach (var grade in Model)
    {
        <div class="grade-section">
            <h2>Grade @grade.GradeDesignate</h2>
            <div class="grade-buttons">
                @foreach (var cls in grade.Classes)
                {
                    <a asp-controller="Teacher" asp-action="TeacherSubjectPage" class="button">@cls.ClassDesignate</a>
                }
            </div>
        </div>
    }
    

    @* <div class="grade-section">
        <h2>Grade 11</h2>
        <div class="grade-buttons">
            <a asp-controller="Teacher" asp-action="TeacherSubjectPage" class="button">11A</a>
            <a asp-controller="Teacher" asp-action="TeacherSubjectPage" class="button">11B</a>
        </div>
    </div>

    <div class="grade-section">
        <h2>Grade 12</h2>
        <div class="grade-buttons">
            <a asp-controller="Teacher" asp-action="TeacherSubjectPage" class="button">12A</a>
            <a asp-controller="Teacher" asp-action="TeacherSubjectPage" class="button">12B</a>
        </div>
    </div> *@
</div>
