body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

    .input-group label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-group input, .input-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

.icon {
    font-size: 100px;
    color: #888;
}

.btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn:hover {
        background-color: #333;
    }

.subject-select {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

    .button:hover {
        background-color: #333;
    }
