/* Global reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-content: center;
   
}

/* Container for the form */
.container {
    background-color: ghostwhite;
    padding: 30px; /* Slightly reduced padding */
    border-radius: 30px; /* Increased border-radius for a rounder look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%; /* Further reduced width */
    max-width: 600px; /* Smaller max-width */
    text-align: center; /* Center the content inside the container */
    margin: 0 auto; /* Center the container on the page */
    
}

/* Icon styling */
.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Text styling */
.text {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
    text-align: left;
    background-color:ghostwhite;
}

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        background-color: ghostwhite;
    }

    .form-group input,
    .form-group select {
        background-color: ghostwhite;
        width: 100%;
        padding: 12px; /* Comfortable padding */
        border: 1px solid #ddd;
        border-radius: 25px; /* Increased roundness for inputs */
        font-size: 16px;
        outline: none; /* Remove outline for consistent styling */
    }

    

/* Button styling */
.button {
    background-color: #0F2E34;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 30px; /* Rounded button */
    margin: 0 auto;
    width: 30%; /* Adjusted width for the button */
    display: block; /* Ensures the button is block level and centered */
    text-decoration: none;
}

    .button:hover {
        background-color: #176ba0; /* Slightly darker hover effect */
    }

    