
<link rel="stylesheet" href="~/css/SysAdminCSS/SysAdminLandingPage.css" />
<div class="admin-landing-page-container">
    <a asp-controller="SysAdmin" asp-action="SchoolReg" class="button">Register School</a>
    <a asp-controller="SysAdmin" asp-action="RolesReg" class="button">Register Roles</a>
    <a href="" class="button logout-button">LOGOUT</a>
</div>