@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalViewAnnouncements.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<header>
    <h1><i class="fas fa-bullhorn"></i> Announcements</h1>
</header>
<body>
    <div class="container">
        <div class="search">
            <div class="total">Total:12</div>
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div> <!-- Unicode for magnifying glass icon -->
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div> <!-- Unicode for check circle icon -->
            <div class="details">
                <div class="from">GENERAL ANNOUNCEMENTS</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">MATHEMATICS</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">PHYSICAL SCIENCES</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#9899;</div> <!-- Unicode for circle icon -->
            <div class="details">
                <div class="from">THCSA AL</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">MATHEMATICS</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">LIFE ORIENTATION</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">LIFE SCIENCES</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>

        <div class="announcement">
            <div class="icon">&#10004;</div>
            <div class="details">
                <div class="from">GENERAL ANNOUNCEMENTS</div>
                <div>Dear parents. Tomorrow is sports day. Can learners please wear...</div>
            </div>
        </div>
    </div>
</body>



