<!DOCTYPE>
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalLandingPage.css" />

@{
    ViewBag.Title = "Principal Page";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/principal.css" />
</head>
<body>
    <div class="container">
        <div class="icon">👩‍🏫</div>
        <div class="principal-name">Mrs Phomolo Lou</div>
        <div class="info-container">
            <p>ID: 0406036598789</p>
            <p>SCHOOL: HARMONIA SECONDARY</p>
            <p>SCHOOL EMIS: 4410227</p>
            <p>SCHOOL ADDRESS: 1104 Vill Hill, Welkom, 2411</p>
        </div>
        <a asp-controller="Principal" asp-action="PrincipalMakeAnnouncements" class="button">MAKE ANNOUNCEMENTS</a>
        <a asp-controller="Principal" asp-action="PrincipalViewAnnouncements" class="button">VIEW ANNOUNCEMENTS</a>
        <a asp-controller="Principal" asp-action="PrincipalViewGrades" class="button">GRADES</a>
        <a asp-controller ="Principal" asp-action="" class="button">Logout</a>
    </div>
</body>


