@model ActorAnnouncementViewModel<Principal>
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalMakeAnnouncements.css" />

<header class="header">
    <h1>Make Announcements</h1>
</header>

<div class="container">
    <br />
    <br />
    <form asp-action="PrincipalMakeAnnouncements" method="post">
        <div class="form-group">
            <label asp-for="Announcement.Title">Title:</label>
            <input asp-for="Announcement.Title" id="title">
        </div>
        <div class="form-group">
            <label asp-for="Announcement.Recipients">Recipients:</label>
            <select asp-for="Announcement.Recipients" id="recipients">
                <option value="All" selected>All</option>
                <option value="Parents">All Parents</option>
                <option value="Teachers">All Teacher</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Announcement.Content">Message:</label>
            <textarea id="message" asp-for="Announcement.Content"></textarea>
        </div>
        <div class="checkbox-group">
            <label asp-for="Announcement.SendEmail"><input asp-for="Announcement.SendEmail" type="checkbox"> Send an email</label>
            <label asp-for="Announcement.SendSMS"><input asp-for="Announcement.SendSMS" type="checkbox"> Send an SMS</label>
            <label asp-for="Announcement.ScheduleForLater"><input type="checkbox" asp-for="Announcement.ScheduleForLater"> Schedule your announcement</label>
        </div>
        <div class="date-picker">
            <label asp-for="Announcement.TimeToPost">Select Date and Time To Post:</label>
            <input asp-for="Announcement.TimeToPost" type="datetime-local" id="date" min="@DateTime.Now">
        </div>
        <input asp-for="Announcement.PrincipalID" type="hidden" value="@Model.Actor.Id" />
        <input asp-for="Announcement.SchoolID" type="hidden" value="@Model.Actor.SchoolID" />
        <button type="submit" class="button">SEND</button>
    </form>
</div>