@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalLearnerProfile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
    <div class="profile-section">
        <div class="profile-image">
            <div class="icon"><i class="fas fa-user"></i></div>
        </div>
    </div>

    <div class="table-section">
        <table>
            <tr>
                <td>Name(s):</td>
                <td>Thembile</td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>Poti</td>
            </tr>
            <tr>
                <td>Identity Number:</td>
                <td>0309168965794</td>
            </tr>
            <tr>
                <td>Grade:</td>
                <td>10B</td>
            </tr>
            <tr>
                <td>Class Teacher:</td>
                <td>Kgopolo Mooi</td>
            </tr>
            <tr>
                <td>Parent Name(s):</td>
                <td>April Poti</td>
            </tr>
            <tr>
                <td>Parent Contact:</td>
                <td>+27 77 374 3384</td>
            </tr>
            <tr>
                <td>Parent Email:</td>
                <td>aprilpoti@gmail.com</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td class="address">
                    02 Potilolo str <br />
                    Rusty <br />
                    2424 <br />
                    North West
                </td>
            </tr>
        </table>
    </div>
</div>
