@model IEnumerable<Grade>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalViewGrades.css" />

<header>
    <div class="header-section">
        <h1><i class="fas fa-school"></i> Principal's Grade Overview</h1>
    </div>
</header>

<div class="container">
    @foreach (var grade in Model)
    {
        <div class="grade-section">
            <h2>Grade @grade.GradeDesignate</h2>
            <div class="grade-buttons">
                @foreach (var cls in grade.Classes)
                {
                    if (cls.MainTeacher is null)
                    {
                        <a href="#" class="button opaque">@cls.ClassDesignate</a>
                    }
                    else
                    {
                        <a asp-controller="Principal" asp-action="PrincipalGradeLandingPage" asp-route-teacherId="@cls.MainTeacher.Id" class="button">@cls.ClassDesignate</a>
                    }
                }
            </div>
        </div>
    }