body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

header {
    background-color: #0F2E34;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
}

.content {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

.content img {
    width: 50%;
    max-width: 600px;
    height: 300px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

.profile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    width: calc(100% - 32px);
    max-width: 400px;
    background-color: #0F2E34;
    color: ghostwhite;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px auto;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.profile-icon {
    font-size: 25px; /* Adjust icon size */
    color: ghostwhite; /* Bright color for the icon */
    margin-right: 20px;
    margin-left: 10px;/* Spacing between icon and text */
}

.arrow-icon {
    font-size: 20px; /* Size of the arrow icon */
    color: ghostwhite; /* Bright color for the arrow */
    margin-left: 220px; /* Spacing between text and arrow */
}
