/* General styling */
body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    position:sticky;
}

header {
    background-color: #0F2E34;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

    header h1 {
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }

.container {
    padding: 16px;
    text-align: center;
    position:sticky;
}

/* Profile Info Section */
.profile-info {
    margin-bottom: 30px;
    position: sticky;
}

    .profile-info .icon {
        font-size: 120px; /* Increased font size */
        color: #0F2E34;
        margin-bottom: 10px;
    }

    .profile-info .name {
        font-size: 24px; /* Increased font size */
        font-weight: bold;
        margin-bottom: 5px;
    }

    .profile-info .grade {
        font-size: 18px; /* Increased font size */
        font-weight: bold;
        color: #555; /* Slightly lighter color */
    }

/* Details Box */
.details-box {
    font-size: larger; /* Increased font size */
    width: 80%; /* Make the card wider */
    max-width: 600px; /* Set a maximum width */
    margin: 10px auto;
    padding: 20px; /* Added more padding */
    border: 1px solid black;
    border-radius: 12px; /* Smoother corners */
    text-align: left;
    background-color: white; /* Standout background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
    position: sticky;
}

.subject {
    font-weight: bold;
    margin-bottom: 5px;
}

.teacher {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Buttons */
.button {
    display: block;
    background-color: #0F2E34;
    color: white;
    padding: 12px; /* Slightly increased padding */
    margin: 15px auto; /* Increased margin */
    width: 250px; /* Increased button width */
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px; /* Increased font size */
}

    .button:hover {
        background-color: #174849; /* Button hover effect */
    }

/* Chat Button */
.chat-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: lightgrey;
    border: none;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .chat-button:hover {
        background-color: #757575;
    }

.chat-icon {
    color: #0F2E34;
    font-size: 30px;
}
