 @model LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginCSS/Login.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="login-body">
    <div class="login-container">
        <form asp-action="Login" class="container">
            <img src="~/images/logo.png" alt="Logo" class="logo">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="outer-input-div">
                <div class="form-group">
					<label asp-for="EmailAddress"><i class="fas fa-user"></i></label>
                    <input asp-for="EmailAddress" id="email" placeholder="Khayelihle Xolani">
                </div>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="outer-input-div">
                <div class="form-group">
					<label asp-for="Password"><i class="fas fa-lock"></i></label>
                    <input asp-for="Password" id="password" placeholder="Enter Password">
				</div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="button">LOGIN</button>
        </form>
    </div>

</div>

