@model LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginCSS/Login.css" />
<div class="login-body">
    <div class="login-container">
        <form asp-controller="Login" asp-action="Login" class="container">
            <img src="~/images/logo.png" alt="Logo" class="logo">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <span class="icon user-icon"></span>
                <input asp-for="EmailAddress" id="email" placeholder="Enter your email here">
                <span asp-validation-for="EmailAddress"></span>
            </div>
            <div class="form-group">
                <span class="icon lock-icon"></span>
                <input asp-for="Password" id="password" placeholder="Enter your password here">
            </div>
            <button type="submit" class="button">LOGIN</button>
        </form>
    </div>

</div>