@model LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginCSS/SetNewPassword.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="slogin-container">
    <form asp-action="SetNewPassword" class="container">
        <img src="~/images/logo.png" alt="Logo" class="logo">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <i class="fa-solid fa-envelope"></i>
            <input asp-for="EmailAddress" placeholder="Enter Email">
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" placeholder="Old Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input asp-for="NewPassword" placeholder="New Password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
        </div>
        <button class="button">Change Password</button>
    </form>
</div>
