@model LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginCSS/SetNewPassword.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="form-container">
    <img src="~/images/finalLogo.png" alt="Local Image Example" class="logo">
    <h1>Welcome to School Connect</h1>

    <!-- Begin the form to handle login -->
    <form asp-action="SetNewPassword" method="post" autocomplete="off">
        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" name="newPassword" placeholder="New Password" />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" name="newPassword"  placeholder="New Password" />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" name="confirmPassword"  placeholder="Confirm Password" />
        </div>

        <a asp-controller="SysAdmin" asp-action="SysAdminLandingPage" class="submit-btn" type="submit">Change Password</a>
    </form>
    <!-- End the form -->
</div>
