@model LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginCSS/SetNewPassword.css" />
<link rel="stylesheet" href="~/css/shared/site.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">

<div class="form-container">
    <img src="~/images/finalLogo.png" alt="Local Image Example" class="logo">
    <h1>Welcome to School Connect</h1>
    <div asp-validation-summary="All"></div>

    <form asp-action="SetNewPassword" method="post" autocomplete="off">
        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input asp-for="EmailAddress" placeholder="Email Address" />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" id="passwordField"  placeholder="Old Password" />
            <button type="button" id="togglePassword" class="toggle-password-btn">
                <i class="fa fa-eye-slash" id="password-eyeIcon"></i>
            </button>
            <br />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input asp-for="NewPassword" id="newPasswordField" placeholder="New Password" />
            <button type="button" id="toggleNew" class="toggle-password-btn">
                <i class="fa fa-eye-slash" id="new-eyeIcon"></i>
            </button>
            <br />
        </div>

        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input asp-for="ConfirmPassword" id="confirmPasswordField" placeholder="Confirm Password" />
            <button type="button" id="toggleConfirm" class="toggle-password-btn">
                <i class="fa fa-eye-slash" id="confirm-eyeIcon"></i>
            </button>
            <br />
        </div>

        <button class="submit-btn" type="submit">Change Password</button>
    </form>
</div>

<script src="~/js/NewFolder/SerNewPassword.js"></script>